
.profile-image-pic {
    height: 200px;
    width: 200px;
    object-fit: cover;
}


.btn-color {
    background-color: hotpink;
    color: #fff;
}

.cardbody-color {
    background-color: pink;
}
.form-text text-center mb-5 text-dark {
    display: flex;
    justify-content: space-evenly;
}

