/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

header {
    background-color: #fe9fe5;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    background-color: #ff9de5;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    margin-top: 29px;
}

.body {
    background-image: url('/image/Trade&DealHub.png'); /* Replace 'path/to/your/image.jpg' with the actual path to your image file */
    background-size: cover; /* Ensures the background image covers the entire body */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
}

header nav div a {
    color: black;
}

body {
    background-color: #ffd8ed;
}


.dropbtn {
    background-color: #ff9de5;
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

    /* Dropdown button on hover & focus */
    .dropbtn:hover, .dropbtn:focus {
        background-color: #ffd8ed;
    }

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffd8ed;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #ff9de5;
}


.sidebar {
    position: fixed;
    top: 56px;
    left: 0;
    height: 100%;
    width: 260px;
    background: #fa90c6;
    overflow-y: auto;
}

    .sidebar .nav .nav-item .nav-link i {
        color: black;
    }

    .sidebar .nav .nav-item a {
        color: black;
    }

.nav-dropdown-item {
    display: none;
    position: absolute;
    background-color: #ffd8ed;
    min-width: 200px;
    z-index: 1000;
    list-style: none;
    padding-left: 0px;

}.navbar-nav li:hover .nav-dropdown-item{
     display:block;
 }
    .navbar-nav .nav-dropdown-item li a:hover{
  background-color: #f1f1f1;
    }
  

    .nav-dropdown-item a {
        color: black;
    }
.navbar-nav .nav-item a {
    color: black;
}
.card-header {
    background-color: pink;
}

#app {
    display: flex;
}


.main-content {
    flex: 1;
}

.show-sidebar {
    transform: translateX(0); /* Show sidebar on button click */
}

.app-body .sidebar ul {
    list-style: none;
}

/*-------------------------------*/

