@model WebClient2.ViewModel.WithdrawalModel;

@{
    ViewData["Title"] = "Create Withdrawal";
}

<h1>Create</h1>

<h4>Withdrawal</h4>
<hr />
<h3 class="text-danger">@TempData["Message"]</h3>
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="Withdrawals" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Số tiền rút (*)</label>
                <input asp-for="amount" class="form-control" />
                <span asp-validation-for="amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Số tài khoản (*)</label>
                <input asp-for="bank_number" class="form-control" />
                <span asp-validation-for="bank_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Chủ tài khoản (*)</label>
                <input asp-for="bank_user" class="form-control" />
                <span asp-validation-for="bank_user" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Tên ngân hàng (*)</label>
                <input asp-for="bank_name" class="form-control" />
                <span asp-validation-for="bank_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Gửi yêu cầu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
