@using Business.Models;
@using DataAccess.DAO;
@using WebClient2
@using WebClient2.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Create Deposit</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home/Product.css" asp-append-version="true" />
    <style>
        .table tbody tr:nth-child(odd) {
            background-color: #ffd8ed; /* Màu cho các hàng lẻ */
        }

        .table tbody tr:nth-child(even) {
            background-color: #f5f5f5; /* Màu cho các hàng chẵn */
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2; /* Màu nền cho tiêu đề cột */
        }

        .table-container {
            border: 1px solid #ccc; /* Đóng khung cho div chứa bảng */
            border-radius: 5px; /* Bo góc */
            padding: 15px; /* Khoảng cách nội dung với khung */
            background-color: #f2f2f2; /* Màu nền xám nhạt */
        }

        .product-heading {
            background-color: rgba(255, 255, 255, 0.7); /* Màu nền xám nhạt cho phần tiêu đề */
            padding: 10px; /* Khoảng cách nội dung với khung */
        }


        a.navbar-brand {
            white-space: normal;
            text-align: center;
            word-break: break-all;
        }

        a {
            color: #0077cc;
        }

        header {
            background-color: #fe9fe5;
        }

        .btn-primary {
            color: #fff;
            background-color: #1b6ec2;
            border-color: #1861ac;
        }

        .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
            color: #fff;
            background-color: #1b6ec2;
            border-color: #1861ac;
        }

        .border-top {
            border-top: 1px solid #e5e5e5;
        }

        .border-bottom {
            border-bottom: 1px solid #e5e5e5;
        }

        .box-shadow {
            box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
        }

        button.accept-policy {
            font-size: 1rem;
            line-height: inherit;
        }

        .nav-dropdown-item {
            list-style: none;
        }

        .footer {
            background-color: #ff9de5;
            position: absolute;
            bottom: 0;
            width: 100%;
            white-space: nowrap;
            line-height: 60px;
            margin-top: 29px;
        }

        .body {
            background-image: url('/image/Trade&DealHub.png'); /* Replace 'path/to/your/image.jpg' with the actual path to your image file */
            background-size: cover; /* Ensures the background image covers the entire body */
            background-position: center; /* Centers the background image */
            background-repeat: no-repeat; /* Prevents the background image from repeating */
        }

        header nav div a {
            color: black;
        }

        body {
            background-color: #ffd8ed;
        }

        div main div img {
            height: 785px;
        }

        .dropbtn {
            background-color: #ff9de5;
            color: black;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

            /* Dropdown button on hover & focus */
            .dropbtn:hover, .dropbtn:focus {
                background-color: #ffd8ed;
            }

        /* The container <div> - needed to position the dropdown content */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        /* Dropdown content (hidden by default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #ffd8ed;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            /* Links inside the dropdown */
            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                /* Change color of dropdown links on hover */
                .dropdown-content a:hover {
                    background-color: #f1f1f1;
                }

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {
            display: block;
        }

        /* Change the background color of the dropdown button when the dropdown content is shown */
        .dropdown:hover .dropbtn {
            background-color: #ff9de5;
        }

        .sidebar {
            position: fixed;
            top: 56px;
            left: 0;
            height: 100%;
            width: 260px;
            background: #fa90c6;
            overflow-y: auto;
        }

            .sidebar .nav .nav-item .nav-link i {
                color: black;
            }

            .sidebar .nav .nav-item a {
                color: black;
            }

        .card-header {
            background-color: pink;
        }

        .table tbody tr:hover {
            background-color: hotpink; /* Màu nền bạn muốn áp dụng khi trỏ vào */
        }

        .modal-dialog {
            max-width: 800px; /* Điều chỉnh kích thước tối đa của modal */
        }





        .product-heading {
            text-align: center; /* Căn giữa tiêu đề bảng */
            margin-bottom: 20px; /* Khoảng cách giữa tiêu đề và bảng */
        }

        table th,
        table td {
            white-space: nowrap; /* Ngăn chặn từng hàng trong bảng bị ngắt dòng */
        }

        .pb-3 {
            margin-right: -21%;
        }

        #ProductTable {
            max-height: 700px; /* Đặt chiều cao tối đa của bảng */
            overflow-y: auto; /* Cho phép cuộn dọc khi nội dung vượt quá kích thước */
        }
    </style>
</head>
<body>

    <main class="container">
        
        <main role="main" class="pb-3">
            <marquee behavior="sroll" direction="left">
                <h6 style="color: red;">Thông báo: Hiện hệ thống VNPay đang bảo trì đến 18:00 ngày 22/02/2024. Hãy chú ý thời gian bảo trì để không bị gián đoạn giao dịch của mình nhé! Cảm ơn tất cả các bạn🤜🤛<br />Vui lòng liên hệ vào email trade.dealhub@gmail.com nếu bạn có bất kỳ thắc mắc nào</h6>
            </marquee>
            <div class="col-sm-8">
                <!-- Phần trung tâm -->
                <h1>Yêu cầu rút tiền</h1>
                <form method="post" asp-controller="Account" asp-action="CreateWithdrawal">
                    <table class="table">
                        <tr>
                            <td><input type="hidden" id="wallet_id" name="wallet_id" class="form-control" value="@WalletDAO.GetWalletByAccountId(ViewBag.accountId).account_id"></td>
                            <td><input type="hidden" id="id" name="id" class="form-control" value="@ViewBag.accountId"></td>
                        </tr>
                        <tr>
                            <td>Số tiền rút</td>
                            <td><input type="number" id="amount" name="amount" class="form-control" value="" placeholder="0000" required></td>
                        </tr>

                        <tr>
                            <td>Tên Ngân Hàng</td>
                            <td><input type="text" id="bank_user" name="bank_user" class="form-control" value="" required></td>
                        </tr>
                        <tr>
                            <td>Số tài khoản</td>
                            <td><input type="text" id="bank_number" name="bank_number" class="form-control" value="" required></td>
                        </tr>
                        <tr>
                            <td>Chủ tài khoản</td>
                            <td><input type="text" id="bank_name" name="bank_name" class="form-control" value="" required></td>
                        </tr>
                        <tr>
                            <td colspan="2"> <button type="submit" class="btn btn-primary">Gửi yêu cầu</button></td>
                        </tr>
                    </table>
                </form>
            </div>
        </main>
        <!-- The Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Thông Tin Sản Phẩm</h4>
                        <button type="button" class="btnBuy mr-1 btn-white-space btn btn-success" id="btnBuy">
                            <i class="fa fa-shopping-cart"></i>Buy
                        </button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body" id="modalContent">
                        <!-- Content will be loaded here via AJAX -->
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary closeModal" data-dismiss="modal" aria-label="Close">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/6ae4d71e22.js" crossorigin="anonymous"></script>


</body>
</html>