@using BussinessObject.Models;
@using DataAccess.DAO;
@using WebClient
@using WebClient.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{


}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Trade&Deal Hub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Account/Wallet.css" asp-append-version="true" />


</head>
<body>
    <div id="root">
        <div class="app">
            <header>
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
                    <div class="container-fluid">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Trade&Deal Hub</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                @if (ViewBag.accountId == null)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Market</a>
                                    </li>
                                }

                            </ul>

                            <ul class="navbar-nav ml-auto">
                                <!-- Added ml-auto class here -->
                                @if (ViewBag.accountId == null)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Register">Register</a>
                                    </li>
                                }
                                else
                                {
                                    <ul class="ml-auto navbar-nav">
                                        <li class="dropdown nav-item"><a aria-haspopup="true" href="#" class="nav-link" aria-expanded="false"><i class="fa-regular fa-bell" style="color:black;"></i></a></li>
                                        <li class="nav-item">
                                            <div class="dropdown">
                                                <button class="dropbtn">
                                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Profile">@AccountDAO.GetAccountWithId(ViewBag.accountId).name</a>
                                                </button>
                                                <div class="dropdown-content">
                                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Profile">Profile</a>
                                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Wallet">Wallet</a>
                                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LogOut">LogOut</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                }
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <div class="app-body">
                <div class="sidebar">
                    <ul class="nav">
                        <li class="nav-item nav-dropdown">
                            <a class="nav-link nav-dropdown-toggle" href="#">
                                <i class="navbar-toggler-icon fa fa-credit-card"></i>
                                Quản lý thanh toán
                                <i class="fa-solid fa-chevron-down"></i>
                            </a>
                            <ul class="nav-dropdown-item">
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Wallet"><i class="fa-solid fa-wallet"></i> Ví của tôi</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Wallet"><i class="nav-icon fa fa-cc-visa"></i> Nạp Tiền</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Wallet"><i class="nav-icon fa fa-exchange"></i> Lịch sử giao dịch </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Wallet"><i class="nav-icon fa fa-send-o"></i> Yêu Cầu Rút Tiền</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item nav-dropdown">
                            <a class="nav-link nav-dropdown-toggle" href="#">
                                <i class="fa-solid fa-cart-shopping"></i>
                                Mua Hàng
                                <i class="fa-solid fa-chevron-down"></i>
                            </a>
                            <ul class="nav-dropdown-item">
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="WalletUser"><i class="fa-brands fa-product-hunt"></i> Sản Phẩm</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Wallet"><i class="nav-icon fa fa-list"></i> Đơn Hàng</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item nav-dropdown">
                            <a class="nav-link nav-dropdown-toggle" href="#">
                                <i class="nav-icon fa fa-handshake-o"></i>
                                Trung Gian
                                <i class="fa-solid fa-chevron-down"></i>
                            </a>
                            <ul class="nav-dropdown-item">
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="WalletUser"><i class="fa-solid fa-shop"></i> Chợ Công Khai</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Wallet"><i class="fa-solid fa-bag-shopping"></i> Đơn bán của tôi</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Wallet"><i class="nav-icon fa fa-shopping-cart"></i> Đơn mua của tôi </a>
                                </li>
                            </ul>
                        </li>

                    </ul>

                </div>
                <main class="main">
                    <div class=" container-fluid" style="padding-left: 260px">
                        <marquee behavior="sroll" direction="left">
                            <h6 style="color: red;">Thông báo: Nạp tiền hình thức chuyển khoản VNPay trong khoảng 12h đêm đến 1 giờ sáng có thể sẽ nhận lâu hơn bình thường<br />Nếu chưa thấy tiền thì có thể liên hệ vào email trade.dealhub@gmail.com</h6>
                        </marquee>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-group">
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="pull-left"><h3 class="mb-0">Ví của bạn</h3></div>
                                                <div class="pull-right"></div>
                                            </div>
                                            <div class="card-body" style="background-color: #ffddf4">
                                                <div autocomplete="off">
                                                    <div class="position-relative row form-group">
                                                        <div class="form-label-horizontal col-md-3">
                                                            <label class=""><b>Số tiền của bạn: @WalletDAO.GetWalletById(ViewBag.accountId).balance ₫</b></label>
                                                        </div>
                                                        <div class="col-md-9"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <footer class="border-top footer text-muted">
                <div class="container">
                    &copy; 2024 - Trade&Deal Hub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            <script src="https://kit.fontawesome.com/6ae4d71e22.js" crossorigin="anonymous"></script>
        </div>
    </div>
</body>
</html>