@model Business.Models.IntermediateProduct

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h4>IntermediateOrder</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post" asp-controller="IntermediateOrders" asp-action="Buy">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <input type="hidden" asp-for="state" />
            <input type="hidden" asp-for="create_by" />
            <div class="form-group">
                <label class="control-label">Chủ đề trung gian (*)</label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Người bán</label>
                <input asp-for="create_by" class="form-control" />
                <span asp-validation-for="create_by" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Giá tiền (*)</label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Bên chịu phí (*)</label>
                <div>
                    <input type="radio" class="btn-check" asp-for="fee_type" name="fee_type" id="fee_type_1" autocomplete="off" value="true" disabled>
                    <label class="btn btn-outline-success" for="fee_type_1"> Bên bán chịu phí </label>

                    <input type="radio" class="btn-check" asp-for="fee_type" name="fee_type" id="fee_type_2" autocomplete="off" value="false" disabled>
                    <label class="btn btn-outline-danger" for="fee_type_2"> Bên bán mua phí </label>
                </div>
                <span asp-validation-for="fee_type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Phí trung gian</label>
                <input asp-for="fee" class="form-control" value="0.5%" disabled />
                <span asp-validation-for="fee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Tổng tiền thanh toán</label>
                <input class="form-control" value="0" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">Mô tả</label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Phương thức liên lạc</label>
                <input asp-for="contact" class="form-control" />
                <span asp-validation-for="contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Thời gian tạo</label>
                <input asp-for="create_at" class="form-control" />
                <span asp-validation-for="create_at" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Cập nhật cuối</label>
                <input asp-for="update_at" class="form-control" />
                <span asp-validation-for="update_at" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Buy" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
