@using DataAccess.Library;
@model WebClient2.ViewModel.UpdateOrderView;

@{
    ViewData["Title"] = "Edit";
}

<h1>Details</h1>

<h4>IntermediateOrder</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post" asp-controller="IntermediateOrders" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Mã Trung Gian</label>
                <input asp-for="id" class="form-control" readonly />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Chủ đề trung gian (*)</label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Giá tiền (*)</label>
                <input type="number" asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Bên chịu phí (*)</label>
                <div>
                    <input type="radio" class="btn-check" asp-for="fee_type" name="fee_type" id="fee_type_1" autocomplete="off" value="true">
                    <label class="btn btn-outline-success" for="fee_type_1"> Bên bán chịu phí </label>

                    <input type="radio" class="btn-check" asp-for="fee_type" name="fee_type" id="fee_type_2" autocomplete="off" value="false">
                    <label class="btn btn-outline-danger" for="fee_type_2"> Bên bán mua phí </label>
                </div>
                <span asp-validation-for="fee_type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Mô tả</label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Phương thức liên lạc</label>
                <input asp-for="contact" class="form-control" />
                <span asp-validation-for="contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Nội dung ẩn</label>
                <input asp-for="hidden_content" class="form-control" />
                <span asp-validation-for="hidden_content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Công khai (*)</label>
                <div>
                    <input type="radio" class="btn-check" asp-for="is_public" name="is_public" id="success-outlined" autocomplete="off" value="true">
                    <label class="btn btn-outline-success" for="success-outlined">Hiện công khai</label>

                    <input type="radio" class="btn-check" asp-for="is_public" name="is_public" id="danger-outlined" autocomplete="off" value="false">
                    <label class="btn btn-outline-danger" for="danger-outlined"> Ẩn giới hạn</label>
                </div>
                <span asp-validation-for="is_public" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Chỉnh sửa" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>
<div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://kit.fontawesome.com/6ae4d71e22.js" crossorigin="anonymous"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
