@model Business.Models.IntermediateOrder

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>IntermediateOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="fee_type" /> @Html.DisplayNameFor(model => model.fee_type)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contact" class="control-label"></label>
                <input asp-for="contact" class="form-control" />
                <span asp-validation-for="contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hidden_content" class="control-label"></label>
                <input asp-for="hidden_content" class="form-control" />
                <span asp-validation-for="hidden_content" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="is_public" /> @Html.DisplayNameFor(model => model.is_public)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="fee" class="control-label"></label>
                <input asp-for="fee" class="form-control" />
                <span asp-validation-for="fee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="state" class="control-label"></label>
                <input asp-for="state" class="form-control" />
                <span asp-validation-for="state" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="create_by" class="control-label"></label>
                <select asp-for="create_by" class="form-control" asp-items="ViewBag.create_by"></select>
                <span asp-validation-for="create_by" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="create_at" class="control-label"></label>
                <input asp-for="create_at" class="form-control" />
                <span asp-validation-for="create_at" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="buy_by" class="control-label"></label>
                <select asp-for="buy_by" class="form-control" asp-items="ViewBag.buy_by"></select>
                <span asp-validation-for="buy_by" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="update_by" class="control-label"></label>
                <select asp-for="update_by" class="form-control" asp-items="ViewBag.update_by"></select>
                <span asp-validation-for="update_by" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="update_at" class="control-label"></label>
                <input asp-for="update_at" class="form-control" />
                <span asp-validation-for="update_at" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="is_delete" /> @Html.DisplayNameFor(model => model.is_delete)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
