@using Business.Models;
@using DataAccess.DAO;
@using WebClient2
@using WebClient2.Models

<div class="row">
    <div class="col-md-10">
        <form method="post" asp-controller="Home" asp-action="ForgotPassword">
            <marquee behavior="scroll" direction="left"><h6 style="color: red;">Thông báo: Đây là trang quên mật khẩu <br> Trong quá trình sử dụng nếu bạn có quên mật khẩu hãy điền theo thứ tự form bên dưới để lấy lại mật khẩu</h6></marquee>

            <h1>Forgot PassWord</h1>

            <label>Your Email Address</label><br />
            <input type="email" class="form-control" id="email" name="email" value="" maxlength="120" size="40" required /><br />

            <label>Your New PassWord</label><br />
            <input type="password" class="form-control" id="password" name="password" placeholder="password" value="" maxlength="120" size="40" required /> <br />

            <label>Confirm New PassWord</label><br />
            <input type="password" class="form-control" id="cfpassword" name="cfpassword" placeholder="confirm password" value="" maxlength="120" size="40" required /><br />

            <div class="captcha-div">
                <span id="Captcha-image">
                    <img id="captchaImage" src="data:image/png;base64,@ViewBag.CaptchaImageBytes"
                         alt="Captcha Image" />
                </span>
                <div class="input-group">
                    <input type="text" id="captcha" name="captcha" class="captcha-form form-control" placeholder="Input capcha" required>
                </div>
                <button type="button" id="refreshCaptcha">Refresh Captcha</button>
            </div>

            <label>Code Validate</label><br />
            <input type="text" class="form-control" id="code" name="code" value="" maxlength="120" size="40" required /><br />

            <button class="buttonEmail" type="button" onclick="sendEmail()">Send Email Take Code Before Submit</button><br /> <br />

            <input type="submit" name="submit" value="Submit" />

        </form>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<script>
    function sendEmail() {
        var email = $("#email").val();

        $.ajax({
            type: "POST", // hoặc "GET" tùy thuộc vào loại yêu cầu của bạn
            url: "/Home/SendEmailForgot", // Thay thế bằng đường dẫn của action bạn muốn gọi
            data: { email: email },
            success: function (result) {
                // Xử lý kết quả từ action nếu cần
                console.log(result);
                alert("Email Have Send Check Email To Get Code");
            },
            error: function (error) {
                // Xử lý lỗi nếu có
                console.log(error);
            }
        });
    }
</script>


<script>
    $(document).ready(function () {
        // Gán sự kiện click cho nút refresh captcha
        $("#refreshCaptcha").on("click", function () {
            refreshCaptchaImage();
        });
    });

    function refreshCaptchaImage() {
        $.ajax({
            type: "POST",
            url: "/Home/RefreshCaptchaForgotPassword", // Thay thế bằng đường dẫn của action cập nhật captcha
            success: function (result) {
                // Cập nhật ảnh captcha mới
                $("#captchaImage").attr("src", "data:image/png;base64," + result);
                $('#captcha').val('');
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
