@{
    ViewData["Title"] = "Home Page";
}

<div class="container-body">
    <main role="main" id="top" class="pb-3">
        <div class="text-center">
            <img src="/image/Trade&Deal Hub.png" alt="Description of the image" />
        </div>
    </main>
</div>

