@using Business.Models;
@using DataAccess.DAO;
@using WebClient2
@using WebClient2.Models
@model WebClient2.ViewModel.RegisterViewModel

<div class="row justify-content-around">
    <div class="col-md-12">
        <section class="vh-100 bg-image"
                 style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp'); border-radius: 20px;">
            <div class="mask d-flex align-items-center h-100 gradient-custom-3">
                <div class="container h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                            <div class="card" style="border-radius: 15px;">
                                <div class="card-body p-5">
                                    <h2 class="text-uppercase text-center mb-6">Create an account</h2>
                                    <form style="display: grid" method="post" asp-controller="Home" asp-action="Register">
                                        <div class="row">
                                            <div class="form-group mb-6">
                                                <label class="control-label">Họ và Tên</label>
                                                <input asp-for="Name" type="text" class="form-control" placeholder="Name" />
                                                <span asp-validation-for="Name" class="text-danger"></span>
                                            </div>
                                            <div class="form-group mb-6">
                                                <label class="control-label">Tài khoản</label>
                                                <input asp-for="Username" class="form-control" />
                                                <span asp-validation-for="Username" class="text-danger"></span>
                                            </div>
                                            <div class="form-group mb-6">
                                                <label class="control-label">Email</label>
                                                <input asp-for="Email" class="form-control email" id="email" />
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                                <button class="btn btn-primary" type="button" onclick="sendEmail()">Send Email</button> <!-- Thêm nút gửi email -->
                                            </div>
                                            <div class="form-group mb-6">
                                                <label class="control-label">Code confirm mail</label>
                                                <input asp-for="CodeValidate" class="form-control" />
                                                <span asp-validation-for="CodeValidate" class="text-danger"></span>
                                            </div>
                                            <div class="form-group mb-6">
                                                <label class="control-label">Số điện thoại</label>
                                                <input asp-for="Phone" class="form-control" />
                                                <span asp-validation-for="Phone" class="text-danger"></span>

                                            </div>
                                            <div class="form-group mb-6">
                                                <div class="form-outline mb-6" style="margin-right: 0px">
                                                    <label class="control-label">Mật khẩu</label>
                                                    <input type="password" asp-for="Password" class="form-control" />
                                                    <span asp-validation-for="Password" class="text-danger"></span>
                                                </div>
                                                <div class="form-group mb-6">
                                                    <label class="control-label">Xác nhận mật khẩu</label>
                                                    <input type="password" asp-for="ConfirmPassword" class="form-control" />
                                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col" id="Captcha-image">
                                                    <img id="captchaImage" src="data:image/png;base64,@ViewBag.CaptchaImageBytes"
                                                         alt="Captcha Image" />
                                                </div>
                                                <div class="col">
                                                    <input type="text" id="captcha" name="captcha" class="captcha-form form-control" placeholder="Input capcha" required>
                                                    <button type="button" id="refreshCaptcha"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                                                </div>
                                            </div>
                                            <div class="form-group mb-6">
                                                <button type="submit" class="btn btn-success">Register</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://kit.fontawesome.com/6ae4d71e22.js" crossorigin="anonymous"></script>

<script>
    function sendEmail() {
        var email = $("#email").val();
        alert("Đã gửi Mail");
        $.ajax({
            type: "POST", // hoặc "GET" tùy thuộc vào loại yêu cầu của bạn
            url: "/Home/SendEmail", // Thay thế bằng đường dẫn của action bạn muốn gọi
            data: { email: email },
            success: function (result) {
                // Xử lý kết quả từ action nếu cần
                console.log(result);
                alert("Email Have Send Check Email To Get Code");
            },
            error: function (error) {
                // Xử lý lỗi nếu có
                console.log(error);
            }
        });
    }
    $(document).ready(function () {
        // Gán sự kiện click cho nút refresh captcha
        $("#refreshCaptcha").on("click", function () {
            refreshCaptchaImage();
        });
    });

    function refreshCaptchaImage() {
        $.ajax({
            type: "POST",
            url: "/Home/RefreshCaptchaForgotPassword", // Thay thế bằng đường dẫn của action cập nhật captcha
            success: function (result) {
                // Cập nhật ảnh captcha mới
                $("#captchaImage").attr("src", "data:image/png;base64," + result);
                $('#captcha').val('');
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}